<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Traventure Admin Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="../css/admin.css">
  <%-include('./partials/icon.ejs')%>
</head>
<body>
  <div class="grid-container">
    <header class="header">
    
     
    </header>
    <%- include('./partials/sidebar-admin'); %>
    <main class="main-container">
      <div class="main-title">
        <h2>DASHBOARD</h2>
      </div>
      <div class="main-cards">
        <div class="card">
          <div class="card-inner">
            <h3>TRIPS</h3>
            <span class="material-icons-outlined">airplane_ticket</span>
          </div>
          <h1><%=count2%></h1>
        </div>
        <div class="card">
          <div class="card-inner">
            <h3>ORDERS</h3>
            <span class="material-icons-outlined">category</span>
          </div>
          <h1><%=count1%></h1>
        </div>
        <div class="card">
          <div class="card-inner">
            <h3>CUSTOMERS</h3>
            <span class="material-icons-outlined">groups</span>
          </div>
          <h1><%=count%></h1>
        </div>
       
      </div>
     
      </div>
    </main>
  </div>
</body>
</html>