<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Traventure Admin Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="../css/customers.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <%-include('./partials/icon.ejs')%>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <div class="menu-icon" onclick="openSidebar()">
        <span class="material-icons-outlined">menu</span>
      </div>
      <div class="header-left">
        <!-- <span class="material-icons-outlined">search</span> -->
      </div>
      <div class="header-right">
        <span class="material-icons-outlined">notifications</span>
        <span class="material-icons-outlined">email</span>
        <span class="material-icons-outlined">account_circle</span>
      </div>
    </header>
    <%- include('./partials/sidebar-admin'); %>
    <main class="main-container">
      <div class="container">
          <h1 id="head">User Data</h1>
            <table >
              <tr>
                <th >First Name</th>
                <th >Last Name</th> 
                <th >Username</th>
                <th >email</th>
                <th >Phone</th>
                <th >To admin|client</th>
                <th >Delete User</th>
                <th >Edit User</th>
                
              </tr>
              <% users.forEach(user=> { %>
                <tr>
                  <td >
                    <%= user.firstname%>
                  </td>
                  <td >
                    <%= user.lastname%>
                  </td>
                  <td >
                    <%= user.username %>
                  </td>
                  <td >
                    <%= user.mail%>
                  </td>
                  <td >
                    <%= user.phone%>
                  </td>
                  <td >
                    <% if (user.type==='client' ){ %>
                      <a  href="/admin/toAdmin/<%= user.id %>">Make Admin</a>
                      <% } else{ %>
                        <a  href="/admin/toClient/<%= user.id %>">Make Client</a>
                        <% } %>
                  </td>
                  <td >
                    <a  href="/admin/delete/<%= user.id %>">Delete <%=user.firstname%></a>
                  </td>
                  <td >
                    <a  href="/admin/edituser/<%= user.id %>">Edit <%=user.firstname%></a>
                  </td>
                </tr>
                <% }); %>
                  <button>
                    <a  href="/admin/adduser">Add user</a>
                  </button>
                
            </table>
            
    </div>
    </main>
  </div>
</body>
<script src="../js/trips.js"></script>
</html>

