<!DOCTYPE html>
<html>

<head>
  <title>User Data</title>
  <link rel="stylesheet" type="text/css" href="../css/customers.css">

</head>

<body>

  <h1>User Data</h1>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th> 
      <th>Username</th>
      <th>email</th>
      <th>Phone</th>
      <th>To admin|client</th>
      <th>Delete users</th>
    </tr>
    <% users.forEach(user=> { %>
      <tr>
        <td>
          <%= user.firstname%>
        </td>
        <td>
          <%= user.lastname%>
        </td>
        <td>
          <%= user.username %>
        </td>
        <td>
          <%= user.mail%>
        </td>
        <td>
          <%= user.phone%>
        </td>
        <td>
          <% if (user.type==='client' ){ %>
            <a href="/admin/toAdmin/<%= user.id %>">Make Admin</a>
            <% } else{ %>
              <a href="/admin/toClient/<%= user.id %>">Make Client</a>
              <% } %>
        </td>
        <td>
          <a href="/admin/delete/<%= user.id %>">Delete</a>
        </td>
        <td>
          <a href="/admin/adduser">Add user</a>
        </td>
      </tr>
      <% }); %>

  </table>

</body>

</html>
