<!DOCTYPE html>
<html>
    <a href="/orders/<%= user.id %>">View Orders</a>
<head>
  <title>Orders</title>
  <% include('./partials/icon.ejs') %>
  <link rel="stylesheet" href="../css/products.css">
</head>

<body>

  <h1>Orders</h1>

  <% if (orders.length === 0) { %>
    <p>No orders found.</p>
  <% } else { %>
    <div class="orders">
      <% orders.forEach(order => { %>
        <div class="order">
          <div class="order-details">
            <div class="order-title">
              <%= order.tripId.title %>
            </div>
            <div class="order-description">
              <%= order.hotelId.name %> - <%= order.roomTypeId.name %> - <%= order.activityId.name %>
            </div>
            <div class="order-quantity">
              Quantity: <%= order.quantity %>
            </div>
            <div class="order-price">
              Total Price: $<%= order.totalPrice %>
            </div>
          </div>
          <div class="order-date">
            <%= new Date(order.createdAt).toLocaleDateString() %>
          </div>
        </div>
      <% }); %>
    </div>
  <% } %>

</body>

</html>