<!DOCTYPE html>
<html>

<head>
  <title>Trips Data</title>
  <% include('./partials/icon.ejs') %>
  <link rel="stylesheet" href="../css/products.css">
</head>

<body>
  <h1>Trips Data</h1>    
  <div class="trips">
    <% vac.forEach(trip => { %>
      <% trip.hotels.forEach(hotel => { %>
        <div class="trip">
          <div class="slideshow-container">
            <div class="mySlides fade">
              <img src="images.jpg" style="width:100%">
            </div>
            <div class="mySlides fade">
              <img src="indiia.jpg" style="width:100%">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
          <div class="trip-title"><%= trip.title %></div>
          <div class="trip-description"><%= hotel.name %></div>
          <div class="trip-options">
            <select name="act">
              <% hotel.roomTypes.forEach(roomType => { %>
                <option value="<%= roomType.price %>"><%= roomType.name %> - $<%= roomType.price %></option>
              <% }); %>
            </select>
            <select name="act" >
              <% hotel.activities.forEach(activity => { %>
                <option value="<%= activity.name %>"><%= activity.name %></option>
              <% }); %>
            </select>
            <form action="/user/checkout" method="post">
              <input type="number" min="1" name="qunt" id="qunt" max="10" value="1">
              <input type="hidden" name="roomTypePrice" id="roomTypePrice">
              <button type="submit" class="purch">Purchase</button>
            </form>
          </div>
        </div>
      <% }); %>
    <% }); %>
  </div>
  
  <script>
    const selectElement = document.querySelector('select[name="act"]');
    const hiddenInput = document.getElementById('roomTypePrice');
    
    selectElement.addEventListener('change', (event) => {
      hiddenInput.value = event.target.value;
    });
  </script>
</body>

</html>