<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/profile.css" />
  <title>Profile</title>
</head>

<body>
  <header> <%- include('./partials/header'); %></header>

  <div id="container">
    <%- include('./partials/vidbg'); %>
      <div class="outer-block">
        <form>
          <div onclick="back_to_home()" class="close-btn">&times;</div>
        </form>
        <section class="profile-body">

          <br />
          <div class="side-block">
            <div>
              <label for="name">Name:</label>
              <h1 id="name">
                <%=user.firstname%>
              </h1>
            </div>
            <div>
              <label for="email">Email:</label>
              <h1 id="email">
                <%=user.mail%>
              </h1>
            </div>
            <div>
              <label for="phone">Phone:</label>
              <h1 id="phone">
                <%=user.phone%>
              </h1>
            </div>
            <div>
              <label for="password">Type:</label>
              <h1 id="password">
                <%=user.type%>
              </h1>
            </div>
            
         

            <div class="profile-element">
              <form action="/user/delete" method="POST" onsubmit="return confirmDelete()">
                <button type="submit" class="delete">Delete my account</button>
              </form>
            </div>
         

          </div>
        </section>
      </div>
  </div>
</body>
<script>
  function back_to_home() {
  document.location.href = "/";
}
function confirmDelete() {
  const confirmMessage = "Are you sure you want to delete your account?";
  return confirm(confirmMessage);
}
</script>

</html>