<!DOCTYPE html>
<html>

<head>
  <title>Trips Data</title>
  <% include('./partials/icon.ejs') %>
</head>

<body>
  <h1>Trips Data</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Hotel Names</th>
      <th>Room Types</th>
      <th>Activity</th>
      <th>Delete Trip</th>
      <th>Edit Trip</th>
    </tr>
    <% vac.forEach(trip => { %>
      <tr>
        <td><%= trip.title %></td>
        <td><img src="<%= trip.image %>" alt="Trip Image" width="100"></td>
        <td>
          <% trip.hotels.forEach(hotel => { %>
            <%= hotel.name %><br>
          <% }); %>
        </td>
        <td>
          <% trip.hotels.forEach(hotel => {
            hotel.roomTypes.forEach(roomType => { %>
              <%= roomType.name %> - $<%= roomType.price %><br>
            <% });
          }); %>
        </td>
        <td>
          <% trip.hotels.forEach(hotel => {
            hotel.activities.forEach(activity => { %>
              <%= activity.name %><br>
            <% });
          }); %>
        </td>
        <td>
          <a href="/admin/deleteTrip/<%= trip._id %>">Delete <%= trip.title %></a>
        </td>
        <td>
          <a href="/admin/editTrip/<%= trip._id %>">Edit <%= trip.title %></a>
        </td>
      </tr>
    <% }); %>
  </table>

  <button>
    <a href="/admin/trips">Add Trip</a>
  </button>
</body>

</html>
