<!DOCTYPE html>
<html>

<head>
  <title>Wishlist</title>
  <% include('./partials/icon.ejs') %>
  <link rel="stylesheet" href="../css/wishlist.css">
</head>

<body>
  <h1>Wishlist</h1>
  <% if (wishlist.length > 0) { %>
    <div class="wishlist">
      <% wishlist.forEach(item => { %>
        <div class="wishlist-item">
          <div class="wishlist-image">
            <img src="<%= item.image %>" alt="<%= item.title %>">
          </div>
          <div class="wishlist-details">
            <h2 class="wishlist-title"><%= item.title %></h2>
            <p class="wishlist-description"><%= item.description %></p>
            <p class="wishlist-price"><%= item.price %></p>
            <button class="wishlist-remove">Remove</button>
          </div>
        </div>
      <% }); %>
    </div>
  <% } else { %>
    <p>Your wishlist is empty.</p>
  <% } %>
</body>

</html>